.locations {
    margin-top: 150px;
  }
  
  .locations-header {
    max-width: 380px;
    margin: 0 auto 30px;
  }
  
  .location-points-ctr {
    margin-top: 150px;
  }
  
  .brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }